.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.result {
  margin-top: 1rem;
}

.example-section-basic {
  margin: 12px 0;
}

.example-margin-basic {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.example-section-reactive {
  margin: 12px 0;
}
