//@use "../../../theme.scss"; //no necessari per variables css (var)

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

/*sobrescriure estil material*/
.mat-mdc-card-content {
  padding: 16px;
}

.fitxa {
  &-wrapper {
    border-radius: 4px;
    margin: 24px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  &-header {
    &-title {
      padding: 0 0.5rem 1rem;
      //color: #0000008a;
      color: var(--app-gray-color);
    }
  }
}
