<div class="with-icon">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
  ></mat-icon>
  <span>Basic icon</span>
</div>

<div class="with-icon">
  <mat-icon
    svgIcon="thumbs-up"
    aria-hidden="false"
    aria-label="Example thumbs up SVG icon"
    color="primary"
  ></mat-icon>
  <span>SVG icon</span>
</div>

<mat-icon color="primary">search</mat-icon>
<mat-icon color="accent">home</mat-icon>
<mat-icon color="warn">account_circle</mat-icon>
<mat-icon class="green">settings</mat-icon>
<mat-icon [ngStyle]="{ color: myVariableColor }">done</mat-icon>
<mat-icon>info</mat-icon>
<mat-icon>check_circle</mat-icon>
<mat-icon>delete</mat-icon>
<mat-icon>shopping_cart</mat-icon>
<mat-icon>visibility</mat-icon>
<mat-icon>favorite</mat-icon>
<mat-icon>logout</mat-icon>
<mat-icon>description</mat-icon>
<mat-icon>favorite_border</mat-icon>
<mat-icon>lock</mat-icon>
<mat-icon>schedule</mat-icon>
<mat-icon>language</mat-icon>
<mat-icon>face</mat-icon>
<mat-icon>help_outline</mat-icon>
<mat-icon>manage_accounts</mat-icon>
<mat-icon>filter_alt</mat-icon>
<mat-icon>fingerprint</mat-icon>
<mat-icon>event</mat-icon>
<mat-icon>verified</mat-icon>
<mat-icon>thumb_up</mat-icon>
<mat-icon>dashboard</mat-icon>
<mat-icon>login</mat-icon>
<mat-icon>calendar_today</mat-icon>
<mat-icon>visibility_off</mat-icon>
<mat-icon>list</mat-icon>
<mat-icon>check_circle_outline</mat-icon>
<mat-icon>highlight_off</mat-icon>
<mat-icon>date_range</mat-icon>
<mat-icon>help</mat-icon>
<mat-icon>question_answer</mat-icon>
<mat-icon>task_alt</mat-icon>
<mat-icon>paid</mat-icon>
<mat-icon>article</mat-icon>
<mat-icon>shopping_bag</mat-icon>
<mat-icon>lightbulb</mat-icon>
<mat-icon>open_in_new</mat-icon>
<mat-icon>perm_identity</mat-icon>
<mat-icon>trending_up</mat-icon>
<mat-icon>credit_card</mat-icon>
<mat-icon>history</mat-icon>
<mat-icon>account_balance</mat-icon>
<mat-icon>delete_outline</mat-icon>
<mat-icon>report_problem</mat-icon>
<mat-icon>fact_check</mat-icon>
<mat-icon>assignment</mat-icon>
<mat-icon>verified_user</mat-icon>
<mat-icon>arrow_right_alt</mat-icon>
<mat-icon>star_rate</mat-icon>
<mat-icon>account_balance_wallet</mat-icon>
<mat-icon>analytics</mat-icon>
<mat-icon>autorenew</mat-icon>
<mat-icon>work</mat-icon>
<mat-icon>build</mat-icon>
<mat-icon>view_list</mat-icon>
<mat-icon>print</mat-icon>
<mat-icon>store</mat-icon>
<mat-icon>today</mat-icon>
<mat-icon>delete_forever</mat-icon>
<mat-icon>admin_panel_settings</mat-icon>
<mat-icon>lock_open</mat-icon>
<mat-icon>savings</mat-icon>
<mat-icon>room</mat-icon>
<mat-icon>code</mat-icon>
<mat-icon>grade</mat-icon>
<mat-icon>watch_later</mat-icon>
<mat-icon>receipt</mat-icon>
<mat-icon>update</mat-icon>
<mat-icon>add_shopping_cart</mat-icon>
<mat-icon>contact_support</mat-icon>
<mat-icon>power_settings_new</mat-icon>
<mat-icon>pets</mat-icon>
<mat-icon>done_all</mat-icon>
<mat-icon>explore</mat-icon>
<mat-icon>bookmark</mat-icon>
<mat-icon>bookmark_border</mat-icon>
<mat-icon>note_add</mat-icon>
<mat-icon>reorder</mat-icon>
<mat-icon>account_box</mat-icon>
<mat-icon>shopping_basket</mat-icon>
<mat-icon>pending_actions</mat-icon>
<mat-icon>drag_indicator</mat-icon>
<mat-icon>payment</mat-icon>
<mat-icon>launch</mat-icon>
<mat-icon>supervisor_account</mat-icon>
<mat-icon>pending</mat-icon>
<mat-icon>zoom_in</mat-icon>
<mat-icon>touch_app</mat-icon>
<mat-icon>assessment</mat-icon>
<mat-icon>calendar_month</mat-icon>
<mat-icon>thumb_up_off_alt</mat-icon>
<mat-icon>open_in_full</mat-icon>
<mat-icon>leaderboard</mat-icon>
<mat-icon>done_outline</mat-icon>
<mat-icon>exit_to_app</mat-icon>
<mat-icon>preview</mat-icon>
<mat-icon>assignment_ind</mat-icon>
<mat-icon>card_giftcard</mat-icon>
<mat-icon>view_in_ar</mat-icon>
<mat-icon>work_outline</mat-icon>
<mat-icon>feedback</mat-icon>
<mat-icon>published_with_changes</mat-icon>
<mat-icon>timeline</mat-icon>
<mat-icon>dns</mat-icon>
<mat-icon>swap_horiz</mat-icon>
<mat-icon>assignment_turned_in</mat-icon>
<mat-icon>sync_alt</mat-icon>
<mat-icon>flight_takeoff</mat-icon>
<mat-icon>book</mat-icon>
<mat-icon>stars</mat-icon>
<mat-icon>label</mat-icon>
<mat-icon>pan_tool</mat-icon>
<mat-icon>bug_report</mat-icon>
<mat-icon>contact_page</mat-icon>
<mat-icon>gavel</mat-icon>
<mat-icon>cached</mat-icon>
<mat-icon>translate</mat-icon>
<mat-icon>alarm</mat-icon>
<mat-icon>space_dashboard</mat-icon>
<mat-icon>android</mat-icon>
<mat-icon>supervised_user_circle</mat-icon>
<mat-icon>accessibility</mat-icon>
<mat-icon>edit_calendar</mat-icon>
<mat-icon>minimize</mat-icon>
<mat-icon>extension</mat-icon>
<mat-icon>get_app</mat-icon>
<mat-icon>tips_and_updates</mat-icon>
<mat-icon>record_voice_over</mat-icon>
<mat-icon>add_task</mat-icon>
<mat-icon>trending_flat</mat-icon>
<mat-icon>hourglass_empty</mat-icon>
<mat-icon>help_center</mat-icon>
<mat-icon>thumb_down</mat-icon>
<mat-icon>accessibility_new</mat-icon>
<mat-icon>sticky_note_2</mat-icon>
<mat-icon>flutter_dash</mat-icon>
<mat-icon>rule</mat-icon>
<mat-icon>dashboard_customize</mat-icon>
<mat-icon>support</mat-icon>
<mat-icon>source</mat-icon>
<mat-icon>find_in_page</mat-icon>
<mat-icon>close_fullscreen</mat-icon>
<mat-icon>settings_applications</mat-icon>
<mat-icon>view_headline</mat-icon>
<mat-icon>redeem</mat-icon>
<mat-icon>announcement</mat-icon>
<mat-icon>loyalty</mat-icon>
<mat-icon>group_work</mat-icon>
<mat-icon>ads_click</mat-icon>
<mat-icon>swap_vert</mat-icon>
<mat-icon>restore</mat-icon>
<mat-icon>euro_symbol</mat-icon>
<mat-icon>sensors</mat-icon>
<mat-icon>dangerous</mat-icon>
<mat-icon>compare_arrows</mat-icon>
<mat-icon>nightlight_round</mat-icon>
<mat-icon>privacy_tip</mat-icon>
<mat-icon>subject</mat-icon>
<mat-icon>rocket_launch</mat-icon>
<mat-icon>arrow_circle_right</mat-icon>
<mat-icon>question_mark</mat-icon>
<mat-icon>disabled_by_default</mat-icon>
<mat-icon>track_changes</mat-icon>
<mat-icon>grading</mat-icon>
<mat-icon>https</mat-icon>
<mat-icon>table_view</mat-icon>
<mat-icon>copyright</mat-icon>
<mat-icon>toc</mat-icon>
<mat-icon>arrow_circle_up</mat-icon>
<mat-icon>bookmarks</mat-icon>
<mat-icon>api</mat-icon>
<mat-icon>query_builder</mat-icon>
<mat-icon>perm_media</mat-icon>
<mat-icon>build_circle</mat-icon>
<mat-icon>input</mat-icon>
<mat-icon>book_online</mat-icon>
<mat-icon>zoom_out</mat-icon>
<mat-icon>backup</mat-icon>
<mat-icon>perm_contact_calendar</mat-icon>
<mat-icon>open_with</mat-icon>
<mat-icon>view_module</mat-icon>
<mat-icon>settings_phone</mat-icon>
<mat-icon>circle_notifications</mat-icon>
<mat-icon>3d_rotation</mat-icon>
<mat-icon>speaker_notes</mat-icon>
<mat-icon>arrow_circle_down</mat-icon>
<mat-icon>label_important</mat-icon>
<mat-icon>card_membership</mat-icon>
<mat-icon>perm_phone_msg</mat-icon>
<mat-icon>file_present</mat-icon>
<mat-icon>wysiwyg</mat-icon>
<mat-icon>swipe</mat-icon>
<mat-icon>pageview</mat-icon>
<mat-icon>integration_instructions</mat-icon>
<mat-icon>upgrade</mat-icon>
<mat-icon>trending_down</mat-icon>
<mat-icon>change_history</mat-icon>
<mat-icon>class</mat-icon>
<mat-icon>accessible</mat-icon>
<mat-icon>g_translate</mat-icon>
<mat-icon>settings_accessibility</mat-icon>
<mat-icon>production_quantity_limits</mat-icon>
<mat-icon>offline_bolt</mat-icon>
<mat-icon>expand</mat-icon>
<mat-icon>model_training</mat-icon>
<mat-icon>aspect_ratio</mat-icon>
<mat-icon>donut_large</mat-icon>
<mat-icon>calendar_view_month</mat-icon>
<mat-icon>settings_backup_restore</mat-icon>
<mat-icon>segment</mat-icon>
<mat-icon>maximize</mat-icon>
<mat-icon>schedule_send</mat-icon>
<mat-icon>view_column</mat-icon>
<mat-icon>bookmark_add</mat-icon>
<mat-icon>arrow_circle_left</mat-icon>
<mat-icon>alarm_on</mat-icon>
<mat-icon>thumbs_up_down</mat-icon>
<mat-icon>thumb_down_off_alt</mat-icon>
<mat-icon>percent</mat-icon>
<mat-icon>view_agenda</mat-icon>
<mat-icon>settings_ethernet</mat-icon>
<mat-icon>theaters</mat-icon>
<mat-icon>important_devices</mat-icon>
<mat-icon>invert_colors</mat-icon>
<mat-icon>unpublished</mat-icon>
<mat-icon>open_in_browser</mat-icon>
<mat-icon>currency_exchange</mat-icon>
<mat-icon>commute</mat-icon>
<mat-icon>opacity</mat-icon>
<mat-icon>addchart</mat-icon>
<mat-icon>no_accounts</mat-icon>
<mat-icon>youtube_searched_for</mat-icon>
<mat-icon>history_toggle_off</mat-icon>
<mat-icon>view_week</mat-icon>
<mat-icon>tour</mat-icon>
<mat-icon>system_update_alt</mat-icon>
<mat-icon>settings_input_antenna</mat-icon>
<mat-icon>shop</mat-icon>
<mat-icon>turned_in</mat-icon>
<mat-icon>mark_as_unread</mat-icon>
<mat-icon>bookmark_added</mat-icon>
<mat-icon>hide_source</mat-icon>
<mat-icon>plagiarism</mat-icon>
<mat-icon>flight_land</mat-icon>
<mat-icon>search_off</mat-icon>
<mat-icon>not_started</mat-icon>
<mat-icon>saved_search</mat-icon>
<mat-icon>contactless</mat-icon>
<mat-icon>assignment_late</mat-icon>
<mat-icon>donut_small</mat-icon>
<mat-icon>highlight_alt</mat-icon>
<mat-icon>view_carousel</mat-icon>
<mat-icon>anchor</mat-icon>
<mat-icon>settings_input_component</mat-icon>
<mat-icon>turned_in_not</mat-icon>
<mat-icon>mediation</mat-icon>
<mat-icon>fit_screen</mat-icon>
<mat-icon>toll</mat-icon>
<mat-icon>edit_off</mat-icon>
<mat-icon>flaky</mat-icon>
<mat-icon>settings_remote</mat-icon>
<mat-icon>assignment_return</mat-icon>
<mat-icon>view_quilt</mat-icon>
<mat-icon>remove_shopping_cart</mat-icon>
<mat-icon>all_inbox</mat-icon>
<mat-icon>hourglass_full</mat-icon>
<mat-icon>lock_clock</mat-icon>
<mat-icon>settings_voice</mat-icon>
<mat-icon>online_prediction</mat-icon>
<mat-icon>pregnant_woman</mat-icon>
<mat-icon>swap_horizontal_circle</mat-icon>
<mat-icon>hotel_class</mat-icon>
<mat-icon>event_seat</mat-icon>
<mat-icon>next_plan</mat-icon>
<mat-icon>view_sidebar</mat-icon>
<mat-icon>camera_enhance</mat-icon>
<mat-icon>markunread_mailbox</mat-icon>
<mat-icon>restore_from_trash</mat-icon>
<mat-icon>vertical_split</mat-icon>
<mat-icon>dynamic_form</mat-icon>
<mat-icon>calendar_view_week</mat-icon>
<mat-icon>accessible_forward</mat-icon>
<mat-icon>tab</mat-icon>
<mat-icon>balance</mat-icon>
<mat-icon>filter_alt_off</mat-icon>
<mat-icon>add_to_drive</mat-icon>
<mat-icon>data_exploration</mat-icon>
<mat-icon>shopping_cart_checkout</mat-icon>
<mat-icon>settings_power</mat-icon>
<mat-icon>view_stream</mat-icon>
<mat-icon>remove_done</mat-icon>
<mat-icon>smart_button</mat-icon>
<mat-icon>request_page</mat-icon>
<mat-icon>card_travel</mat-icon>
<mat-icon>try</mat-icon>
<mat-icon>outbox</mat-icon>
<mat-icon>offline_pin</mat-icon>
<mat-icon>rowing</mat-icon>
<mat-icon>calendar_view_day</mat-icon>
<mat-icon>outlet</mat-icon>
<mat-icon>find_replace</mat-icon>
<mat-icon>compress</mat-icon>
<mat-icon>rocket</mat-icon>
<mat-icon>chrome_reader_mode</mat-icon>
<mat-icon>token</mat-icon>
<mat-icon>settings_brightness</mat-icon>
<mat-icon>http</mat-icon>
<mat-icon>alarm_add</mat-icon>
<mat-icon>assignment_returned</mat-icon>
<mat-icon>spellcheck</mat-icon>
<mat-icon>play_for_work</mat-icon>
<mat-icon>gif</mat-icon>
<mat-icon>backup_table</mat-icon>
<mat-icon>restore_page</mat-icon>
<mat-icon>credit_card_off</mat-icon>
<mat-icon>wifi_protected_setup</mat-icon>
<mat-icon>settings_overscan</mat-icon>
<mat-icon>new_label</mat-icon>
<mat-icon>lock_reset</mat-icon>
<mat-icon>fax</mat-icon>
<mat-icon>settings_input_composite</mat-icon>
<mat-icon>generating_tokens</mat-icon>
<mat-icon>quickreply</mat-icon>
<mat-icon>comment_bank</mat-icon>
<mat-icon>view_day</mat-icon>
<mat-icon>terminal</mat-icon>
<mat-icon>swap_vertical_circle</mat-icon>
<mat-icon>polymer</mat-icon>
<mat-icon>outbound</mat-icon>
<mat-icon>line_weight</mat-icon>
<mat-icon>cancel_schedule_send</mat-icon>
<mat-icon>horizontal_split</mat-icon>
<mat-icon>batch_prediction</mat-icon>
<mat-icon>send_and_archive</mat-icon>
<mat-icon>picture_in_picture</mat-icon>
<mat-icon>free_cancellation</mat-icon>
<mat-icon>density_medium</mat-icon>
<mat-icon>code_off</mat-icon>
<mat-icon>settings_bluetooth</mat-icon>
<mat-icon>bookmark_remove</mat-icon>
<mat-icon>disabled_visible</mat-icon>
<mat-icon>switch_access_shortcut</mat-icon>
<mat-icon>flip_to_front</mat-icon>
<mat-icon>shop_two</mat-icon>
<mat-icon>gif_box</mat-icon>
<mat-icon>add_card</mat-icon>
<mat-icon>eject</mat-icon>
<mat-icon>speaker_notes_off</mat-icon>
<mat-icon>satellite_alt</mat-icon>
<mat-icon>perm_data_setting</mat-icon>
<mat-icon>view_timeline</mat-icon>
<mat-icon>settings_input_hdmi</mat-icon>
<mat-icon>perm_scan_wifi</mat-icon>
<mat-icon>alarm_off</mat-icon>
<mat-icon>settings_cell</mat-icon>
<mat-icon>hourglass_disabled</mat-icon>
<mat-icon>app_blocking</mat-icon>
<mat-icon>sensors_off</mat-icon>
<mat-icon>work_off</mat-icon>
<mat-icon>line_style</mat-icon>
<mat-icon>webhook</mat-icon>
<mat-icon>perm_device_information</mat-icon>
<mat-icon>picture_in_picture_alt</mat-icon>
<mat-icon>subtitles_off</mat-icon>
<mat-icon>assured_workload</mat-icon>
<mat-icon>html</mat-icon>
<mat-icon>123</mat-icon>
<mat-icon>switch_access_shortcut_add</mat-icon>
<mat-icon>display_settings</mat-icon>
<mat-icon>update_disabled</mat-icon>
<mat-icon>event_repeat</mat-icon>
<mat-icon>settings_input_svideo</mat-icon>
<mat-icon>voice_over_off</mat-icon>
<mat-icon>output</mat-icon>
<mat-icon>view_array</mat-icon>
<mat-icon>flip_to_back</mat-icon>
<mat-icon>open_in_new_off</mat-icon>
<mat-icon>swipe_left</mat-icon>
<mat-icon>noise_control_off</mat-icon>
<mat-icon>all_out</mat-icon>
<mat-icon>javascript</mat-icon>
<mat-icon>private_connectivity</mat-icon>
<mat-icon>work_history</mat-icon>
<mat-icon>app_shortcut</mat-icon>
<mat-icon>label_off</mat-icon>
<mat-icon>rounded_corner</mat-icon>
<mat-icon>join_full</mat-icon>
<mat-icon>tab_unselected</mat-icon>
<mat-icon>shop_2</mat-icon>
<mat-icon>text_rotate_vertical</mat-icon>
<mat-icon>swipe_right</mat-icon>
<mat-icon>explore_off</mat-icon>
<mat-icon>pan_tool_alt</mat-icon>
<mat-icon>install_desktop</mat-icon>
<mat-icon>abc</mat-icon>
<mat-icon>text_rotation_none</mat-icon>
<mat-icon>swipe_up</mat-icon>
<mat-icon>not_accessible</mat-icon>
<mat-icon>pin_invoke</mat-icon>
<mat-icon>join_inner</mat-icon>
<mat-icon>perm_camera_mic</mat-icon>
<mat-icon>manage_history</mat-icon>
<mat-icon>extension_off</mat-icon>
<mat-icon>density_small</mat-icon>
<mat-icon>data_thresholding</mat-icon>
<mat-icon>lightbulb_circle</mat-icon>
<mat-icon>pin_end</mat-icon>
<mat-icon>install_mobile</mat-icon>
<mat-icon>commit</mat-icon>
<mat-icon>swipe_down</mat-icon>
<mat-icon>text_rotate_up</mat-icon>
<mat-icon>css</mat-icon>
<mat-icon>text_rotation_down</mat-icon>
<mat-icon>join_left</mat-icon>
<mat-icon>text_rotation_angledown</mat-icon>
<mat-icon>view_kanban</mat-icon>
<mat-icon>text_rotation_angleup</mat-icon>
<mat-icon>pinch</mat-icon>
<mat-icon>swipe_vertical</mat-icon>
<mat-icon>view_cozy</mat-icon>
<mat-icon>join_right</mat-icon>
<mat-icon>swipe_right_alt</mat-icon>
<mat-icon>view_comfy_alt</mat-icon>
<mat-icon>spatial_audio_off</mat-icon>
<mat-icon>noise_aware</mat-icon>
<mat-icon>php</mat-icon>
<mat-icon>view_compact_alt</mat-icon>
<mat-icon>swipe_down_alt</mat-icon>
<mat-icon>browse_gallery</mat-icon>
<mat-icon>swipe_left_alt</mat-icon>
<mat-icon>network_ping</mat-icon>
<mat-icon>swipe_up_alt</mat-icon>
<mat-icon>density_large</mat-icon>
<mat-icon>lock_person</mat-icon>
<mat-icon>on_device_training</mat-icon>
<mat-icon>spatial_tracking</mat-icon>
<mat-icon>spatial_audio</mat-icon>
<mat-icon>hls</mat-icon>
<mat-icon>troubleshoot</mat-icon>
<mat-icon>hls_off</mat-icon>
<mat-icon>width_normal</mat-icon>
<mat-icon>width_full</mat-icon>
<mat-icon>width_wide</mat-icon>
<mat-icon>face_unlock</mat-icon>
<mat-icon>arrow_outward</mat-icon>
<mat-icon>add_home</mat-icon>
<mat-icon>unfold_more_double</mat-icon>
<mat-icon>repartition</mat-icon>
<mat-icon>unfold_less_double</mat-icon>
<mat-icon>transcribe</mat-icon>
<mat-icon>warning</mat-icon>
<mat-icon>warning</mat-icon>
<mat-icon>error</mat-icon>
<mat-icon>error_outline</mat-icon>
<mat-icon>warning_amber</mat-icon>
<mat-icon>notification_important</mat-icon>
<mat-icon>add_alert</mat-icon>
<mat-icon>auto_delete</mat-icon>
<mat-icon>play_arrow</mat-icon>
<mat-icon>play_arrow</mat-icon>
<mat-icon>play_circle_filled</mat-icon>
<mat-icon>videocam</mat-icon>
<mat-icon>play_circle</mat-icon>
<mat-icon>mic</mat-icon>
<mat-icon>volume_up</mat-icon>
<mat-icon>pause</mat-icon>
<mat-icon>play_circle_outline</mat-icon>
<mat-icon>volume_off</mat-icon>
<mat-icon>replay</mat-icon>
<mat-icon>skip_next</mat-icon>
<mat-icon>library_books</mat-icon>
<mat-icon>speed</mat-icon>
<mat-icon>stop</mat-icon>
<mat-icon>fiber_manual_record</mat-icon>
<mat-icon>movie</mat-icon>
<mat-icon>skip_previous</mat-icon>
<mat-icon>playlist_add</mat-icon>
<mat-icon>new_releases</mat-icon>
<mat-icon>equalizer</mat-icon>
<mat-icon>loop</mat-icon>
<mat-icon>fast_forward</mat-icon>
<mat-icon>web</mat-icon>
<mat-icon>video_library</mat-icon>
<mat-icon>playlist_add_check</mat-icon>
<mat-icon>mic_off</mat-icon>
<mat-icon>library_add</mat-icon>
<mat-icon>video_call</mat-icon>
<mat-icon>pause_circle</mat-icon>
<mat-icon>subscriptions</mat-icon>
<mat-icon>repeat</mat-icon>
<mat-icon>stop_circle</mat-icon>
<mat-icon>volume_mute</mat-icon>
<mat-icon>shuffle</mat-icon>
<mat-icon>not_interested</mat-icon>
<mat-icon>sort_by_alpha</mat-icon>
<mat-icon>mic_none</mat-icon>
<mat-icon>library_music</mat-icon>
<mat-icon>fast_rewind</mat-icon>
<mat-icon>videocam_off</mat-icon>
<mat-icon>volume_down</mat-icon>
<mat-icon>queue_music</mat-icon>
<mat-icon>recent_actors</mat-icon>
<mat-icon>web_asset</mat-icon>
<mat-icon>pause_circle_filled</mat-icon>
<mat-icon>hearing</mat-icon>
<mat-icon>library_add_check</mat-icon>
<mat-icon>subtitles</mat-icon>
<mat-icon>album</mat-icon>
<mat-icon>pause_circle_outline</mat-icon>
<mat-icon>fiber_new</mat-icon>
<mat-icon>note</mat-icon>
<mat-icon>av_timer</mat-icon>
<mat-icon>radio</mat-icon>
<mat-icon>games</mat-icon>
<mat-icon>playlist_play</mat-icon>
<mat-icon>branding_watermark</mat-icon>
<mat-icon>replay_circle_filled</mat-icon>
<mat-icon>queue</mat-icon>
<mat-icon>forward_10</mat-icon>
<mat-icon>replay_10</mat-icon>
<mat-icon>closed_caption</mat-icon>
<mat-icon>video_settings</mat-icon>
<mat-icon>featured_play_list</mat-icon>
<mat-icon>control_camera</mat-icon>
<mat-icon>playlist_add_check_circle</mat-icon>
<mat-icon>add_to_queue</mat-icon>
<mat-icon>slow_motion_video</mat-icon>
<mat-icon>airplay</mat-icon>
<mat-icon>repeat_one</mat-icon>
<mat-icon>call_to_action</mat-icon>
<mat-icon>snooze</mat-icon>
<mat-icon>hd</mat-icon>
<mat-icon>high_quality</mat-icon>
<mat-icon>repeat_on</mat-icon>
<mat-icon>closed_caption_off</mat-icon>
<mat-icon>replay_30</mat-icon>
<mat-icon>featured_video</mat-icon>
<mat-icon>playlist_remove</mat-icon>
<mat-icon>5g</mat-icon>
<mat-icon>shuffle_on</mat-icon>
<mat-icon>forward_30</mat-icon>
<mat-icon>music_video</mat-icon>
<mat-icon>replay_5</mat-icon>
<mat-icon>queue_play_next</mat-icon>
<mat-icon>art_track</mat-icon>
<mat-icon>playlist_add_circle</mat-icon>
<mat-icon>hearing_disabled</mat-icon>
<mat-icon>forward_5</mat-icon>
<mat-icon>explicit</mat-icon>
<mat-icon>4k</mat-icon>
<mat-icon>fiber_smart_record</mat-icon>
<mat-icon>video_label</mat-icon>
<mat-icon>audio_file</mat-icon>
<mat-icon>interpreter_mode</mat-icon>
<mat-icon>video_file</mat-icon>
<mat-icon>repeat_one_on</mat-icon>
<mat-icon>closed_caption_disabled</mat-icon>
<mat-icon>surround_sound</mat-icon>
<mat-icon>remove_from_queue</mat-icon>
<mat-icon>play_disabled</mat-icon>
<mat-icon>web_asset_off</mat-icon>
<mat-icon>sd</mat-icon>
<mat-icon>missed_video_call</mat-icon>
<mat-icon>10k</mat-icon>
<mat-icon>fiber_pin</mat-icon>
<mat-icon>fiber_dvr</mat-icon>
<mat-icon>4k_plus</mat-icon>
<mat-icon>1k</mat-icon>
<mat-icon>2k</mat-icon>
<mat-icon>1k_plus</mat-icon>
<mat-icon>8k</mat-icon>
<mat-icon>lyrics</mat-icon>
<mat-icon>9k_plus</mat-icon>
<mat-icon>8k_plus</mat-icon>
<mat-icon>5k</mat-icon>
<mat-icon>3k</mat-icon>
<mat-icon>5k_plus</mat-icon>
<mat-icon>7k</mat-icon>
<mat-icon>2k_plus</mat-icon>
<mat-icon>3k_plus</mat-icon>
<mat-icon>9k</mat-icon>
<mat-icon>6k</mat-icon>
<mat-icon>6k_plus</mat-icon>
<mat-icon>7k_plus</mat-icon>
<mat-icon>email</mat-icon>
<mat-icon>location_on</mat-icon>
<mat-icon>call</mat-icon>
<mat-icon>phone</mat-icon>
<mat-icon>business</mat-icon>
<mat-icon>chat</mat-icon>
<mat-icon>mail_outline</mat-icon>
<mat-icon>list_alt</mat-icon>
<mat-icon>vpn_key</mat-icon>
<mat-icon>qr_code_scanner</mat-icon>
<mat-icon>chat_bubble_outline</mat-icon>
<mat-icon>alternate_email</mat-icon>
<mat-icon>forum</mat-icon>
<mat-icon>chat_bubble</mat-icon>
<mat-icon>textsms</mat-icon>
<mat-icon>contact_mail</mat-icon>
<mat-icon>person_search</mat-icon>
<mat-icon>qr_code_2</mat-icon>
<mat-icon>qr_code</mat-icon>
<mat-icon>sentiment_satisfied_alt</mat-icon>
<mat-icon>message</mat-icon>
<mat-icon>comment</mat-icon>
<mat-icon>contacts</mat-icon>
<mat-icon>app_registration</mat-icon>
<mat-icon>import_contacts</mat-icon>
<mat-icon>contact_phone</mat-icon>
<mat-icon>live_help</mat-icon>
<mat-icon>import_export</mat-icon>
<mat-icon>forward_to_inbox</mat-icon>
<mat-icon>key</mat-icon>
<mat-icon>rss_feed</mat-icon>
<mat-icon>hourglass_bottom</mat-icon>
<mat-icon>hourglass_top</mat-icon>
<mat-icon>mark_email_read</mat-icon>
<mat-icon>read_more</mat-icon>
<mat-icon>mark_email_unread</mat-icon>
<mat-icon>call_end</mat-icon>
<mat-icon>more_time</mat-icon>
<mat-icon>document_scanner</mat-icon>
<mat-icon>clear_all</mat-icon>
<mat-icon>hub</mat-icon>
<mat-icon>dialpad</mat-icon>
<mat-icon>phone_enabled</mat-icon>
<mat-icon>mark_chat_unread</mat-icon>
<mat-icon>3p</mat-icon>
<mat-icon>cancel_presentation</mat-icon>
<mat-icon>screen_share</mat-icon>
<mat-icon>call_made</mat-icon>
<mat-icon>call_split</mat-icon>
<mat-icon>unsubscribe</mat-icon>
<mat-icon>present_to_all</mat-icon>
<mat-icon>add_ic_call</mat-icon>
<mat-icon>domain_verification</mat-icon>
<mat-icon>mark_chat_read</mat-icon>
<mat-icon>phonelink_ring</mat-icon>
<mat-icon>stay_current_portrait</mat-icon>
<mat-icon>call_received</mat-icon>
<mat-icon>phonelink_lock</mat-icon>
<mat-icon>phone_disabled</mat-icon>
<mat-icon>duo</mat-icon>
<mat-icon>ring_volume</mat-icon>
<mat-icon>phonelink_setup</mat-icon>
<mat-icon>location_off</mat-icon>
<mat-icon>stay_primary_portrait</mat-icon>
<mat-icon>swap_calls</mat-icon>
<mat-icon>co_present</mat-icon>
<mat-icon>voicemail</mat-icon>
<mat-icon>call_merge</mat-icon>
<mat-icon>mobile_screen_share</mat-icon>
<mat-icon>phonelink_erase</mat-icon>
<mat-icon>person_add_disabled</mat-icon>
<mat-icon>cell_tower</mat-icon>
<mat-icon>domain_disabled</mat-icon>
<mat-icon>call_missed_outgoing</mat-icon>
<mat-icon>cell_wifi</mat-icon>
<mat-icon>speaker_phone</mat-icon>
<mat-icon>desktop_access_disabled</mat-icon>
<mat-icon>stop_screen_share</mat-icon>
<mat-icon>call_missed</mat-icon>
<mat-icon>spoke</mat-icon>
<mat-icon>print_disabled</mat-icon>
<mat-icon>pause_presentation</mat-icon>
<mat-icon>dialer_sip</mat-icon>
<mat-icon>invert_colors_off</mat-icon>
<mat-icon>rtt</mat-icon>
<mat-icon>wifi_calling</mat-icon>
<mat-icon>portable_wifi_off</mat-icon>
<mat-icon>comments_disabled</mat-icon>
<mat-icon>stay_current_landscape</mat-icon>
<mat-icon>sip</mat-icon>
<mat-icon>nat</mat-icon>
<mat-icon>stay_primary_landscape</mat-icon>
<mat-icon>no_sim</mat-icon>
<mat-icon>mark_unread_chat_alt</mat-icon>
<mat-icon>send_time_extension</mat-icon>
<mat-icon>key_off</mat-icon>
<mat-icon>vpn_key_off</mat-icon>
<mat-icon>mail_lock</mat-icon>
<mat-icon>contact_emergency</mat-icon>
<mat-icon>add</mat-icon>
<mat-icon>add_circle_outline</mat-icon>
<mat-icon>content_copy</mat-icon>
<mat-icon>add_circle</mat-icon>
<mat-icon>send</mat-icon>
<mat-icon>clear</mat-icon>
<mat-icon>mail</mat-icon>
<mat-icon>save</mat-icon>
<mat-icon>link</mat-icon>
<mat-icon>remove</mat-icon>
<mat-icon>filter_list</mat-icon>
<mat-icon>inventory_2</mat-icon>
<mat-icon>insights</mat-icon>
<mat-icon>inventory</mat-icon>
<mat-icon>sort</mat-icon>
<mat-icon>remove_circle_outline</mat-icon>
<mat-icon>bolt</mat-icon>
<mat-icon>flag</mat-icon>
<mat-icon>reply</mat-icon>
<mat-icon>add_box</mat-icon>
<mat-icon>remove_circle</mat-icon>
<mat-icon>create</mat-icon>
<mat-icon>push_pin</mat-icon>
<mat-icon>block</mat-icon>
<mat-icon>calculate</mat-icon>
<mat-icon>undo</mat-icon>
<mat-icon>how_to_reg</mat-icon>
<mat-icon>content_paste</mat-icon>
<mat-icon>report</mat-icon>
<mat-icon>file_copy</mat-icon>
<mat-icon>shield</mat-icon>
<mat-icon>backspace</mat-icon>
<mat-icon>archive</mat-icon>
<mat-icon>save_alt</mat-icon>
<mat-icon>policy</mat-icon>
<mat-icon>tag</mat-icon>
<mat-icon>change_circle</mat-icon>
<mat-icon>redo</mat-icon>
<mat-icon>content_cut</mat-icon>
<mat-icon>forward</mat-icon>
<mat-icon>inbox</mat-icon>
<mat-icon>outlined_flag</mat-icon>
<mat-icon>drafts</mat-icon>
<mat-icon>link_off</mat-icon>
<mat-icon>biotech</mat-icon>
<mat-icon>ballot</mat-icon>
<mat-icon>report_gmailerrorred</mat-icon>
<mat-icon>markunread</mat-icon>
<mat-icon>stacked_bar_chart</mat-icon>
<mat-icon>delete_sweep</mat-icon>
<mat-icon>square_foot</mat-icon>
<mat-icon>stream</mat-icon>
<mat-icon>add_link</mat-icon>
<mat-icon>where_to_vote</mat-icon>
<mat-icon>copy_all</mat-icon>
<mat-icon>move_to_inbox</mat-icon>
<mat-icon>dynamic_feed</mat-icon>
<mat-icon>waves</mat-icon>
<mat-icon>unarchive</mat-icon>
<mat-icon>reply_all</mat-icon>
<mat-icon>select_all</mat-icon>
<mat-icon>low_priority</mat-icon>
<mat-icon>text_format</mat-icon>
<mat-icon>content_paste_search</mat-icon>
<mat-icon>weekend</mat-icon>
<mat-icon>font_download</mat-icon>
<mat-icon>how_to_vote</mat-icon>
<mat-icon>upcoming</mat-icon>
<mat-icon>gesture</mat-icon>
<mat-icon>attribution</mat-icon>
<mat-icon>save_as</mat-icon>
<mat-icon>next_week</mat-icon>
<mat-icon>content_paste_go</mat-icon>
<mat-icon>flag_circle</mat-icon>
<mat-icon>content_paste_off</mat-icon>
<mat-icon>filter_list_off</mat-icon>
<mat-icon>report_off</mat-icon>
<mat-icon>font_download_off</mat-icon>
<mat-icon>deselect</mat-icon>
<mat-icon>web_stories</mat-icon>
<mat-icon>light_mode</mat-icon>
<mat-icon>light_mode</mat-icon>
<mat-icon>restart_alt</mat-icon>
<mat-icon>dark_mode</mat-icon>
<mat-icon>task</mat-icon>
<mat-icon>summarize</mat-icon>
<mat-icon>password</mat-icon>
<mat-icon>sell</mat-icon>
<mat-icon>signal_cellular_alt</mat-icon>
<mat-icon>devices</mat-icon>
<mat-icon>settings_suggest</mat-icon>
<mat-icon>quiz</mat-icon>
<mat-icon>widgets</mat-icon>
<mat-icon>storage</mat-icon>
<mat-icon>thermostat</mat-icon>
<mat-icon>battery_full</mat-icon>
<mat-icon>credit_score</mat-icon>
<mat-icon>gps_fixed</mat-icon>
<mat-icon>medication</mat-icon>
<mat-icon>price_check</mat-icon>
<mat-icon>pin</mat-icon>
<mat-icon>gpp_good</mat-icon>
<mat-icon>price_change</mat-icon>
<mat-icon>tungsten</mat-icon>
<mat-icon>battery_charging_full</mat-icon>
<mat-icon>fmd_good</mat-icon>
<mat-icon>reviews</mat-icon>
<mat-icon>note_alt</mat-icon>
<mat-icon>air</mat-icon>
<mat-icon>graphic_eq</mat-icon>
<mat-icon>bluetooth</mat-icon>
<mat-icon>dvr</mat-icon>
<mat-icon>nightlight</mat-icon>
<mat-icon>sports_score</mat-icon>
<mat-icon>access_time</mat-icon>
<mat-icon>water</mat-icon>
<mat-icon>share_location</mat-icon>
<mat-icon>monitor_heart</mat-icon>
<mat-icon>gpp_maybe</mat-icon>
<mat-icon>cable</mat-icon>
<mat-icon>location_searching</mat-icon>
<mat-icon>cameraswitch</mat-icon>
<mat-icon>shortcut</mat-icon>
<mat-icon>device_thermostat</mat-icon>
<mat-icon>airplane_ticket</mat-icon>
<mat-icon>wallpaper</mat-icon>
<mat-icon>monitor_weight</mat-icon>
<mat-icon>radar</mat-icon>
<mat-icon>data_usage</mat-icon>
<mat-icon>signal_wifi_4_bar</mat-icon>
<mat-icon>gpp_bad</mat-icon>
<mat-icon>developer_mode</mat-icon>
<mat-icon>battery_std</mat-icon>
<mat-icon>mode_night</mat-icon>
<mat-icon>bloodtype</mat-icon>
<mat-icon>wifi_tethering</mat-icon>
<mat-icon>signal_cellular_4_bar</mat-icon>
<mat-icon>flashlight_on</mat-icon>
<mat-icon>network_wifi</mat-icon>
<mat-icon>fmd_bad</mat-icon>
<mat-icon>splitscreen</mat-icon>
<mat-icon>access_time_filled</mat-icon>
<mat-icon>airplanemode_active</mat-icon>
<mat-icon>mobile_friendly</mat-icon>
<mat-icon>sim_card_download</mat-icon>
<mat-icon>battery_alert</mat-icon>
<mat-icon>send_to_mobile</mat-icon>
<mat-icon>screen_search_desktop</mat-icon>
<mat-icon>usb</mat-icon>
<mat-icon>lens_blur</mat-icon>
<mat-icon>signal_wifi_statusbar_4_bar</mat-icon>
<mat-icon>discount</mat-icon>
<mat-icon>screen_rotation</mat-icon>
<mat-icon>signal_wifi_statusbar_connected_no_internet_4</mat-icon>
<mat-icon>system_security_update_good</mat-icon>
<mat-icon>gps_not_fixed</mat-icon>
<mat-icon>bluetooth_connected</mat-icon>
<mat-icon>remember_me</mat-icon>
<mat-icon>pattern</mat-icon>
<mat-icon>nfc</mat-icon>
<mat-icon>brightness_high</mat-icon>
<mat-icon>mode_standby</mat-icon>
<mat-icon>battery_saver</mat-icon>
<mat-icon>play_lesson</mat-icon>
<mat-icon>lan</mat-icon>
<mat-icon>storm</mat-icon>
<mat-icon>network_cell</mat-icon>
<mat-icon>data_saver_off</mat-icon>
<mat-icon>screenshot</mat-icon>
<mat-icon>brightness_medium</mat-icon>
<mat-icon>signal_wifi_0_bar</mat-icon>
<mat-icon>brightness_low</mat-icon>
<mat-icon>data_saver_on</mat-icon>
<mat-icon>grid_4x4</mat-icon>
<mat-icon>bluetooth_searching</mat-icon>
<mat-icon>mobiledata_off</mat-icon>
<mat-icon>ad_units</mat-icon>
<mat-icon>bluetooth_disabled</mat-icon>
<mat-icon>security_update_good</mat-icon>
<mat-icon>hdr_auto</mat-icon>
<mat-icon>battery_unknown</mat-icon>
<mat-icon>signal_wifi_off</mat-icon>
<mat-icon>signal_wifi_bad</mat-icon>
<mat-icon>settings_system_daydream</mat-icon>
<mat-icon>wifi_calling_3</mat-icon>
<mat-icon>access_alarms</mat-icon>
<mat-icon>battery_5_bar</mat-icon>
<mat-icon>signal_wifi_connected_no_internet_4</mat-icon>
<mat-icon>aod</mat-icon>
<mat-icon>add_to_home_screen</mat-icon>
<mat-icon>security_update</mat-icon>
<mat-icon>ssid_chart</mat-icon>
<mat-icon>signal_cellular_0_bar</mat-icon>
<mat-icon>flashlight_off</mat-icon>
<mat-icon>flourescent</mat-icon>
<mat-icon>access_alarm</mat-icon>
<mat-icon>gps_off</mat-icon>
<mat-icon>4g_mobiledata</mat-icon>
<mat-icon>grid_3x3</mat-icon>
<mat-icon>signal_wifi_statusbar_null</mat-icon>
<mat-icon>battery_4_bar</mat-icon>
<mat-icon>sd_storage</mat-icon>
<mat-icon>reset_tv</mat-icon>
<mat-icon>wifi_lock</mat-icon>
<mat-icon>battery_0_bar</mat-icon>
<mat-icon>battery_6_bar</mat-icon>
<mat-icon>brightness_auto</mat-icon>
<mat-icon>do_not_disturb_on_total_silence</mat-icon>
<mat-icon>signal_cellular_connected_no_internet_4_bar</mat-icon>
<mat-icon>airplanemode_inactive</mat-icon>
<mat-icon>1x_mobiledata</mat-icon>
<mat-icon>nearby_error</mat-icon>
<mat-icon>security_update_warning</mat-icon>
<mat-icon>signal_cellular_connected_no_internet_0_bar</mat-icon>
<mat-icon>screen_lock_portrait</mat-icon>
<mat-icon>system_security_update</mat-icon>
<mat-icon>battery_3_bar</mat-icon>
<mat-icon>system_security_update_warning</mat-icon>
<mat-icon>wifi_tethering_off</mat-icon>
<mat-icon>edgesensor_high</mat-icon>
<mat-icon>punch_clock</mat-icon>
<mat-icon>4g_plus_mobiledata</mat-icon>
<mat-icon>battery_1_bar</mat-icon>
<mat-icon>signal_wifi_4_bar_lock</mat-icon>
<mat-icon>lte_mobiledata</mat-icon>
<mat-icon>add_alarm</mat-icon>
<mat-icon>signal_cellular_off</mat-icon>
<mat-icon>media_bluetooth_on</mat-icon>
<mat-icon>bluetooth_drive</mat-icon>
<mat-icon>signal_cellular_nodata</mat-icon>
<mat-icon>wifi_password</mat-icon>
<mat-icon>location_disabled</mat-icon>
<mat-icon>signal_cellular_null</mat-icon>
<mat-icon>mobile_off</mat-icon>
<mat-icon>medication_liquid</mat-icon>
<mat-icon>30fps</mat-icon>
<mat-icon>battery_2_bar</mat-icon>
<mat-icon>grid_goldenratio</mat-icon>
<mat-icon>screen_lock_rotation</mat-icon>
<mat-icon>rsvp</mat-icon>
<mat-icon>edgesensor_low</mat-icon>
<mat-icon>3g_mobiledata</mat-icon>
<mat-icon>60fps</mat-icon>
<mat-icon>screen_lock_landscape</mat-icon>
<mat-icon>lte_plus_mobiledata</mat-icon>
<mat-icon>usb_off</mat-icon>
<mat-icon>phishing</mat-icon>
<mat-icon>timer_10_select</mat-icon>
<mat-icon>signal_cellular_no_sim</mat-icon>
<mat-icon>screenshot_monitor</mat-icon>
<mat-icon>g_mobiledata</mat-icon>
<mat-icon>timer_3_select</mat-icon>
<mat-icon>wifi_find</mat-icon>
<mat-icon>h_mobiledata</mat-icon>
<mat-icon>network_wifi_3_bar</mat-icon>
<mat-icon>network_wifi_1_bar</mat-icon>
<mat-icon>media_bluetooth_off</mat-icon>
<mat-icon>e_mobiledata</mat-icon>
<mat-icon>r_mobiledata</mat-icon>
<mat-icon>h_plus_mobiledata</mat-icon>
<mat-icon>wifi_tethering_error</mat-icon>
<mat-icon>hdr_on_select</mat-icon>
<mat-icon>hdr_auto_select</mat-icon>
<mat-icon>wifi_channel</mat-icon>
<mat-icon>network_wifi_2_bar</mat-icon>
<mat-icon>nearby_off</mat-icon>
<mat-icon>wifi_2_bar</mat-icon>
<mat-icon>hdr_off_select</mat-icon>
<mat-icon>signal_cellular_alt_2_bar</mat-icon>
<mat-icon>signal_cellular_alt_1_bar</mat-icon>
<mat-icon>wifi_1_bar</mat-icon>
<mat-icon>devices_fold</mat-icon>
<mat-icon>dataset</mat-icon>
<mat-icon>dataset_linked</mat-icon>
<mat-icon>macro_off</mat-icon>
<mat-icon>attach_money</mat-icon>
<mat-icon>attach_money</mat-icon>
<mat-icon>format_list_bulleted</mat-icon>
<mat-icon>mode_edit</mat-icon>
<mat-icon>edit_note</mat-icon>
<mat-icon>monetization_on</mat-icon>
<mat-icon>attach_file</mat-icon>
<mat-icon>post_add</mat-icon>
<mat-icon>bar_chart</mat-icon>
<mat-icon>checklist</mat-icon>
<mat-icon>drag_handle</mat-icon>
<mat-icon>insert_drive_file</mat-icon>
<mat-icon>show_chart</mat-icon>
<mat-icon>format_quote</mat-icon>
<mat-icon>format_list_numbered</mat-icon>
<mat-icon>border_color</mat-icon>
<mat-icon>table_chart</mat-icon>
<mat-icon>pie_chart</mat-icon>
<mat-icon>notes</mat-icon>
<mat-icon>query_stats</mat-icon>
<mat-icon>format_bold</mat-icon>
<mat-icon>insert_photo</mat-icon>
<mat-icon>text_fields</mat-icon>
<mat-icon>insert_emoticon</mat-icon>
<mat-icon>title</mat-icon>
<mat-icon>table_rows</mat-icon>
<mat-icon>auto_graph</mat-icon>
<mat-icon>publish</mat-icon>
<mat-icon>mode</mat-icon>
<mat-icon>insert_chart_outlined</mat-icon>
<mat-icon>checklist_rtl</mat-icon>
<mat-icon>mode_comment</mat-icon>
<mat-icon>insert_invitation</mat-icon>
<mat-icon>draw</mat-icon>
<mat-icon>insert_link</mat-icon>
<mat-icon>functions</mat-icon>
<mat-icon>mode_edit_outline</mat-icon>
<mat-icon>format_italic</mat-icon>
<mat-icon>format_align_left</mat-icon>
<mat-icon>horizontal_rule</mat-icon>
<mat-icon>format_color_fill</mat-icon>
<mat-icon>add_comment</mat-icon>
<mat-icon>insert_chart</mat-icon>
<mat-icon>linear_scale</mat-icon>
<mat-icon>format_size</mat-icon>
<mat-icon>stacked_line_chart</mat-icon>
<mat-icon>format_underlined</mat-icon>
<mat-icon>bubble_chart</mat-icon>
<mat-icon>insert_comment</mat-icon>
<mat-icon>money_off</mat-icon>
<mat-icon>vertical_align_bottom</mat-icon>
<mat-icon>height</mat-icon>
<mat-icon>vertical_align_top</mat-icon>
<mat-icon>format_align_center</mat-icon>
<mat-icon>format_paint</mat-icon>
<mat-icon>schema</mat-icon>
<mat-icon>format_color_text</mat-icon>
<mat-icon>area_chart</mat-icon>
<mat-icon>format_align_right</mat-icon>
<mat-icon>scatter_plot</mat-icon>
<mat-icon>format_list_numbered_rtl</mat-icon>
<mat-icon>highlight</mat-icon>
<mat-icon>merge_type</mat-icon>
<mat-icon>format_align_justify</mat-icon>
<mat-icon>square</mat-icon>
<mat-icon>add_chart</mat-icon>
<mat-icon>format_shapes</mat-icon>
<mat-icon>money_off_csred</mat-icon>
<mat-icon>pie_chart_outline</mat-icon>
<mat-icon>numbers</mat-icon>
<mat-icon>short_text</mat-icon>
<mat-icon>format_indent_increase</mat-icon>
<mat-icon>align_horizontal_left</mat-icon>
<mat-icon>strikethrough_s</mat-icon>
<mat-icon>vertical_align_center</mat-icon>
<mat-icon>format_color_reset</mat-icon>
<mat-icon>data_object</mat-icon>
<mat-icon>multiline_chart</mat-icon>
<mat-icon>score</mat-icon>
<mat-icon>border_all</mat-icon>
<mat-icon>hexagon</mat-icon>
<mat-icon>space_bar</mat-icon>
<mat-icon>format_indent_decrease</mat-icon>
<mat-icon>format_clear</mat-icon>
<mat-icon>rectangle</mat-icon>
<mat-icon>format_line_spacing</mat-icon>
<mat-icon>move_up</mat-icon>
<mat-icon>align_vertical_bottom</mat-icon>
<mat-icon>horizontal_distribute</mat-icon>
<mat-icon>align_horizontal_center</mat-icon>
<mat-icon>format_strikethrough</mat-icon>
<mat-icon>move_down</mat-icon>
<mat-icon>align_horizontal_right</mat-icon>
<mat-icon>vertical_distribute</mat-icon>
<mat-icon>superscript</mat-icon>
<mat-icon>candlestick_chart</mat-icon>
<mat-icon>margin</mat-icon>
<mat-icon>text_increase</mat-icon>
<mat-icon>wrap_text</mat-icon>
<mat-icon>border_clear</mat-icon>
<mat-icon>align_vertical_top</mat-icon>
<mat-icon>subscript</mat-icon>
<mat-icon>align_vertical_center</mat-icon>
<mat-icon>polyline</mat-icon>
<mat-icon>border_style</mat-icon>
<mat-icon>data_array</mat-icon>
<mat-icon>padding</mat-icon>
<mat-icon>border_outer</mat-icon>
<mat-icon>pentagon</mat-icon>
<mat-icon>text_decrease</mat-icon>
<mat-icon>line_axis</mat-icon>
<mat-icon>insert_page_break</mat-icon>
<mat-icon>border_inner</mat-icon>
<mat-icon>border_left</mat-icon>
<mat-icon>border_bottom</mat-icon>
<mat-icon>format_textdirection_l_to_r</mat-icon>
<mat-icon>border_vertical</mat-icon>
<mat-icon>border_horizontal</mat-icon>
<mat-icon>format_textdirection_r_to_l</mat-icon>
<mat-icon>border_top</mat-icon>
<mat-icon>border_right</mat-icon>
<mat-icon>shape_line</mat-icon>
<mat-icon>type_specimen</mat-icon>
<mat-icon>file_download</mat-icon>
<mat-icon>file_download</mat-icon>
<mat-icon>file_upload</mat-icon>
<mat-icon>download</mat-icon>
<mat-icon>folder</mat-icon>
<mat-icon>grid_view</mat-icon>
<mat-icon>upload_file</mat-icon>
<mat-icon>cloud_upload</mat-icon>
<mat-icon>folder_open</mat-icon>
<mat-icon>cloud</mat-icon>
<mat-icon>text_snippet</mat-icon>
<mat-icon>request_quote</mat-icon>
<mat-icon>cloud_download</mat-icon>
<mat-icon>drive_file_rename_outline</mat-icon>
<mat-icon>upload</mat-icon>
<mat-icon>attachment</mat-icon>
<mat-icon>download_for_offline</mat-icon>
<mat-icon>create_new_folder</mat-icon>
<mat-icon>downloading</mat-icon>
<mat-icon>newspaper</mat-icon>
<mat-icon>folder_shared</mat-icon>
<mat-icon>cloud_done</mat-icon>
<mat-icon>topic</mat-icon>
<mat-icon>download_done</mat-icon>
<mat-icon>cloud_queue</mat-icon>
<mat-icon>workspaces</mat-icon>
<mat-icon>approval</mat-icon>
<mat-icon>cloud_off</mat-icon>
<mat-icon>drive_file_move</mat-icon>
<mat-icon>drive_folder_upload</mat-icon>
<mat-icon>file_download_done</mat-icon>
<mat-icon>file_open</mat-icon>
<mat-icon>attach_email</mat-icon>
<mat-icon>rule_folder</mat-icon>
<mat-icon>cloud_sync</mat-icon>
<mat-icon>cloud_circle</mat-icon>
<mat-icon>snippet_folder</mat-icon>
<mat-icon>folder_zip</mat-icon>
<mat-icon>file_download_off</mat-icon>
<mat-icon>folder_copy</mat-icon>
<mat-icon>difference</mat-icon>
<mat-icon>drive_file_move_rtl</mat-icon>
<mat-icon>folder_delete</mat-icon>
<mat-icon>folder_off</mat-icon>
<mat-icon>format_overline</mat-icon>
