/* main_____________________________________________________________ */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 10px 30px;
}

html,
body {
  height: 100%;
}

p {
  margin: 1.2rem 0 !important;
}

main {
  margin-top: 120px;
  overflow-y: auto;
}

@media (max-width: 899px) {
  main {
    margin-top: 160px;
  }
}

@media (max-width: 599px) {
  main {
    margin-top: 230px;
  }
}
