<div class="dialog-container">
  <h2 mat-dialog-title>La Fruita!</h2>
  <mat-dialog-content>
    <p>Dades de la fruita</p>
    <div class="form-fields-container-inline">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="data.nom" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput [(ngModel)]="data.color" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preu</mat-label>
        <input matInput [(ngModel)]="data.preu" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Vull sortir!</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>
