<!-- Basic radios -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Basic radios</div>
  </div>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</div>

<!-- Radios with ngModel -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Radios with ngModel</div>
  </div>
  <label id="example-radio-group-label">Pick your favorite season</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="favoriteSeason"
  >
    @for (season of seasons; track season) {
    <mat-radio-button class="example-radio-button" [value]="season">{{
      season
    }}</mat-radio-button>
    }
  </mat-radio-group>
  <div>
    Your favorite season is: <strong>{{ favoriteSeason }}</strong>
  </div>
</div>
