@import "../theme.scss";

.hello {
  margin: 1rem;
  padding: 2rem;
  font-weight: bolder;
  color: map-get($theme-primary, 500);
  //color: map-get($theme-accent, 500);
  //color: map-get($theme-warn, 500);
  //color: rgba($color: black, $alpha: 0.8);
}
