@use "theme" as theme;

.example-spacer {
  flex: 1 1 auto;
}

.activeButton {
  //background-color: gold;
  background-color: map-get(theme.$theme-primary, 100);
}

@media (max-width: 599px) {
  .chips-toolbar {
    height: auto;
  }
}
