<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
    (click)="menuTrigger.openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['./']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['./card']">
      <mat-icon>done</mat-icon>
      <span>card</span>
    </button>
    <button mat-menu-item [routerLink]="['./menu']">
      <mat-icon>done</mat-icon>
      <span>menu</span>
    </button>
    <button mat-menu-item [routerLink]="['./toolbar']">
      <mat-icon>done</mat-icon>
      <span>toolbar</span>
    </button>
    <button mat-menu-item [routerLink]="['./icon']">
      <mat-icon>done</mat-icon>
      <span>icon</span>
    </button>
    <button mat-menu-item [routerLink]="['./button']">
      <mat-icon>done</mat-icon>
      <span>butoon</span>
    </button>
    <button mat-menu-item [routerLink]="['./slide-toggle']">
      <mat-icon>done</mat-icon>
      <span>slide-toggle</span>
    </button>
    <button mat-menu-item [routerLink]="['./chips']">
      <mat-icon>done</mat-icon>
      <span>chips</span>
    </button>
    <button mat-menu-item [routerLink]="['./tabs']">
      <mat-icon>done</mat-icon>
      <span>tabs</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <span>My App</span>
  <span class="example-spacer"></span>

  <app-theme-switch />
</mat-toolbar>
