@import "../../../theme.scss";

.example-spacer {
  flex: 1 1 auto;
}

.activeButton {
  //background-color: gold;
  background-color: map-get($theme-primary, 100);
}

@media (max-width: 599px) {
  .chips-toolbar {
    height: auto;
  }
}
