<!-- Dialog elements -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog elements</div>
  </div>
  <button mat-button (click)="openDialog()">Launch dialog</button>
</div>

<!-- Dialog Animations -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog Animations</div>
  </div>
  <button mat-raised-button (click)="openDialogAnimation('0ms', '0ms')">
    Open dialog without animation
  </button>
  <button mat-raised-button (click)="openDialogAnimation('3000ms', '1500ms')">
    Open dialog slowly
  </button>
</div>
