<!-- Dialog elements -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog elements</div>
  </div>
  <button mat-raised-button (click)="openDialog()">Launch dialog</button>
</div>

<!-- Dialog Animations -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog Animations</div>
  </div>
  <div class="botonera">
    <button mat-raised-button (click)="openDialogAnimation('0ms', '0ms')">
      Open dialog without animation
    </button>
    <button mat-raised-button (click)="openDialogAnimation('3000ms', '1500ms')">
      Open dialog slowly
    </button>
  </div>
</div>

<!-- Dialog Overview -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog Overview</div>
  </div>
  <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialogOverview()">Pick one</button>
    </li>
    @if (animal) {
    <li class="separa">
      You chose: <em>{{ animal }}</em>
    </li>
    }
  </ol>
</div>

<!-- Dialog with header, scrollable content and actions -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">
      Dialog with header, scrollable content and actions
    </div>
  </div>
  <button mat-raised-button (click)="openDialogContent()">Open dialog</button>
</div>

<!-- Injecting data when opening a dialog -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Injecting data when opening a dialog</div>
  </div>
  <button mat-raised-button (click)="openDialogData()">Open dialog</button>
</div>

<!-- Dialog Test -->
<div class="fitxa-wrapper">
  <div class="fitxa-header">
    <div class="fitxa-header-title">Dialog Test</div>
  </div>
  <button mat-raised-button (click)="openDialogTest()">Obre el dialog!</button>
  @if (fruita) {
  <p>{{ fruita | json }}</p>
  }
</div>
